<div class="center">
  <h2>Sign up</h2>
  <div class="col-md-6">
    <b>with email</b>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.email_field :email, :autofocus => true, :placeholder => "cooldude@email.com" %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, :placeholder => "super secret password" %></div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :placeholder => "password, again" %></div>

      <div><%= f.submit "Sign up" %></div>
  </div>
  
  <div class="col-md-6">
    foo
  </div>
<% end %>
</div>
<!-- %= render "devise/shared/links" %>

