<h1 class="pagetitle"> <%= @boardname %> </h1>

<div class="lovebutton">
  <% if @user == 0 %>
<% elsif @board.user_id.to_s.include?(@user.id.to_s) %>
  <%= link_to unlove_path do %>
  <i class="fa fa-heart"></i>
  <% end %>
  <% else %>
  <%= link_to love_path do %>
  <i class="fa fa-heart-o"></i>
  <% end %>
  <% end %>
</div>
  
<div  class="pagecontent">
<row>
  <div class="col-sm-9" style="min-height: 350px;">
    <% if @posts.empty? %>
    <h3> No posts yet, <%= link_to "be the first!", new_board_post_path(@board.name) %> </h3>
    <% end %>
    <div class="list-group">
      <% @posts.each do |x| %>
      <%= link_to board_post_path(@board.name, x.id), class: "list-group-item" do %>
      <%= x.title %>
      <span class="badge"><%= Replies.getreplycount(x.id)%> replies</span>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3" style="margin-top: 50px;">
    <p> <%= @boarddescription %> </p>
    <%= link_to "Add a post", new_board_post_path(@board.name) %>
  </div>
  </row>
</div>