<h1 class="pagetitle"> View Post </h1>

  <div class="backbutton">
    <%= link_to board_path(@board.name) do %>
    <i class="fa fa-caret-square-o-left"></i>
    <% end %>
  </div>

<div class="pagecontent">
  <div class=" col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading postbackground">
      <%= @post.title %>
    </div>
    <div class="panel-body" style="text-align: left">
  <%= @post.content %>
    </div>
  </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
  <h3> Replies </h3>
  <% if !@replies.nil? %>
    <div class="list-group">
    <% @replies.each do |x|%>
      <%= link_to nil, class: "list-group-item", style: "text-align: left" do %>
      <span style="float: left; font-size: 8px;margin-right: 10px;"><%= User.find(x.user_id).email %><br/><%= time_ago_in_words(x.created_at) %> ago</span>
      <%= x.content %>
      <% end %>
  <% end %>
    </div>
  <% else %>
  <h5> No replies </h5>
  <% end %>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <% if signed_in? %>
      <%= render replies_new_path %>
    <% end %>
  </div>
</div>