<!DOCTYPE html>
<html>
<head>
  <title>Welcometothe.social</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
    <%= render partial: 'layouts/navbar' %> <!-- render the layouts/_navbar.html.erb file so this page isnt so messy -->
		<div class="container">

      
		<%= yield %>
            
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

		</div><!-- /.container -->
</body>
</html>
