<!DOCTYPE html>
<html>
<head>
  <title>Welcometothe.social</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: 'layouts/navbar' %> <!-- render the layouts/_navbar.html.erb file so this page isnt so messy -->
		<div class="container">
<<<<<<< HEAD
        <%= link_to 'Edit', edit_user_registration_path %>
        <%= link_to 'Out', destroy_user_session_path, method: :delete %>
        <%= link_to 'New', new_user_registration_path %>
        <%= link_to 'In', new_user_session_path %>
        
      
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
=======

>>>>>>> fbe671d164efbd7f4faa35cc3c0a69047e26792b
		<%= yield %>

		</div><!-- /.container -->
</body>
</html>
